<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search.js</title>
</head>
<body>
	<div id="search"></div>
</body>

<script type="text/javascript" src="/~/core/resource/jquery-1.12.4/jquery-1.12.4.min.js"></script>

<script type="text/javascript" src="/~/core/package.js"></script>
<script type="text/javascript" src="/~/core/component/search/Search.js"></script>
<script type="text/javascript">
	$(function() {
		var search1 = core.component.search.getInstance("search");
		search1.init();

		var search2 = core.component.search.getInstance("search");
		search2.init();

		var search3 = core.component.search.getInstance("search");
		search3.init();
	});
</script>

</html>